::scrollbar {
  display: none;
}


.clear {clear:both;}

div#content {
  width: 100vw;
}

/*SECOND*/
div#down-left {
  left:25%;  /*60%*/ /*46%*/
  position:fixed;
  bottom:0px;
  z-index:5; /*3*/
  max-width: 32.5%; /*65%*/
}

/* THIRD */
div#down-right {
  clear: all;
  left: 50%;  /*87.5%*/ /*67%*/
  position:absolute;
  /*bottom:0px;*/
  z-index:5;
  width: 62%;
  padding-right: 0;
  height: auto;
  top: 14%;
}

.margin {
  margin: 25vh 0 24% 0;/*34% 0 34% 0;*/ /*30% or 20*/
}

/*.margin-3 {
  margin: 50% 0 60% 0;/*50% 0 60% 0; /*20% 0 30% 0
}*/

.margin-2 {
  margin: 40% 0 40% 0; /*36% 0 36% 0;*/     /*46% 0 46% 0; /*20% 0 30% 0*/
}

/*.padding-st-bottom {
  padding: 4% 0 24% 0;/*match .padding
}

.end-bottom {
  padding: 0;
  bottom: 0;
}

.end-top {
  padding: 0;
  top: 0;
}*/


/* Resources
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#processinfo, #aboutinfo {
    display: none;
}
#aboutinfo {
  width: 20%;
  /*-webkit-transform-origin: left top;
  -webkit-transform:rotate(90deg) translateX(5%) translateY(-300%);*/
  color: #fff;
  font-weight: 600;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  z-index: 9999;
  margin: 9vh 0 0 12vh;
  font-size: 2rem; /*2.1rem*/
  line-height: 1.25; /*1.2*/
  letter-spacing: .05rem;
  text-transform: uppercase;
  overflow: scroll;
  position: fixed;
}
#aboutinfo div {
  overflow-y: scroll; /*visible*/
}
@media screen and (min-width: 760px) and (max-width: 1200px) {
#aboutinfo {
  width: 30%;
  }
}
@media screen and (min-width: 460px) and (max-width: 760px) {
#aboutinfo {
  width: 50%;
  font-size:1.8rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 460px) {
#aboutinfo {
  width: 60%;
  font-size:1.8rem;
  }
}
#aboutinfo a, #aboutinfo a:visited {
  color: #fff;
}
#aboutinfo a:hover {
  color: #ababab;
}
#about a:active {
  color: #aaa;
}
u {
  border-bottom: 1px solid;
  line-height: 0.5px;
  text-decoration: none;
  display: inline;
}
/*
#processinfo {
  background-color: rgba(0,0,0,0.7); /*0.8
  z-index: 9998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
  position: fixed;
}
#processinfo figure {
  color: #fff;
  font-weight: 600;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  z-index: 999999;
  margin: 9vh 0 0 12vh;
  width: 30%;
  font-size: 2rem; /*2.1rem
  line-height: 1.25; /*1.2
  letter-spacing: .05rem;
  text-transform: uppercase;
  overflow-y: visible;
}
@media screen and (min-width: 1096px) and (max-width: 1400px) {
#processinfo figure {
  min-width: 430px;
  }
}
@media screen and (min-width: 761px) and (max-width: 1095px) {
#processinfo figure {
  width: 430px;
  }
}
@media screen and (min-width: 0px) and (max-width: 760px) {
#processinfo figure {
  width: 50%;
  max-width: 430px;
  }
}
#processinfo img {
  margin: 0 0 10vh 0;
}*/


img {max-width: 100%}

    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    /*.no-js h1 {
        color: #000;
    }*/

    /*#no-js-content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  */

    html .slides,
    body .slides,
    html > .dg,
    body > .dg {
      display: none;
    }


/* lightbox ends */

/* --------------------- mouse text begins --------------------- */
.img_title {
    display: inline-block;
    background: rgba(0,0,0,0);
    position: absolute;
    text-align: center;
    cursor: none;
    color: #fff;
    font-size: 1.25rem; /*2.1rem*/ line-height: 1.5;  letter-spacing: 0.1rem; text-transform: uppercase;
}
.image_container {
    cursor: none;
    display: inline-block;
}



.superman {
  z-index: 9999999;
}
.superman:target {
  display: none;
}


/* --------------------- instagram feed begins ---------------------

.igviewer {
  position: fixed; /*fixed
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*background-color: RGBA(29, 31, 32, 0.9);
}
.igviewer img {
  display: block;
  /*margin: 1rem auto;
  height: calc(100vh - 2rem);
  width: auto;
  /*box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.8);
}
.igviewer.hidden {
  display: none;
}

.instagram {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: hidden;
  width: 248px;
  float: left;
  margin: 9vh 0 0 12vh;
}
.instagram .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 248px; height:30vw; /*248px width
  margin: auto;
  overflow: hidden;
    -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}
.instagram .image .caption {
  display: none;
  position: absolute;
  float: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: #FFF;
  padding: 2em;
    margin:0;
    font-size: 1.25rem; /*2.1rem
    line-height: 1.3;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
/*.instagram .image:hover {
  background-size: 110%;
}
.instagram .image:hover .caption {
  display: block;
}

/* instagram feed ends */

/* PASSWORD PROTECTTTTTTTTTT GOTHAM*/
.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
}
.password-protect {
  position: fixed;
  z-index: 9998;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  background: rgba(0,0,0,0.95);
}
input {
  background:#000;
  border: none;
  /*-webkit-transform-origin: left top;
  -webkit-transform:rotate(90deg) translateX(5%) translateY(-300%);*/
  color: #fff;
  font-weight: 600;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-size: 2rem; /*2.1rem*/
  letter-spacing: .05rem;
  text-transform: uppercase;
}
input:hover {
  cursor: pointer;
}



/* PAGE SPINNING LOGO */
.rotating {
  position: fixed;
  right:0;
  top:1em;
  padding: 2em;
  width: 12.5em;
}

/*~~~~~~~~~~~~~~~~~~~~~~ LE CACTUS ~~~~~~~~~~~~~~~~~~~~~~*/

.cactus-sticky {
  position: fixed;
  margin-left: 90vw;
  max-width: 10vw;
}

.circle {
  position: absolute;
  left: 50%;
  top: 25px;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #101010;
  position: relative;
  overflow: hidden;
}

.sand {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 70px;
  background-color: #060706;
  border-radius: 25% 25% 0 0 / 50% 50% 0 0;
}

.cactus {
  position: absolute;
  left: 25%;
  margin-left: -12.5px;
  top: 20px;
  -webkit-animation: swing 500ms ease-in-out infinite alternate;
          animation: swing 500ms ease-in-out infinite alternate;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.cactus .body {
  width: 25px;
  height: 125px;
  background-color: #060706;
  border-radius: 25px;
}
.cactus .arm {
  position: absolute;
  width: 12.5px;
  height: 50px;
  background: #060706;
  border-radius: 25px;
  -webkit-animation: arms 500ms ease-in-out infinite alternate;
          animation: arms 500ms ease-in-out infinite alternate;
}
.cactus .arm:after {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 0 0 0 10px;
  width: 22.5px;
  height: 12.5px;
  background: #060706;
}
.cactus .arm.left {
  top: 15px;
  left: -25px;
}
.cactus .arm.right {
  top: 20px;
  left: auto;
  right: -25px;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.cactus .arm.right:after {
  right: 0;
  border-radius: 0 0 10px 0;
}
.cactus .eye {
  position: absolute;
  top: 20px;
  width: 7.5px;
  height: 7.5px;
  background-color: white;
  border-radius: 25%;
  -webkit-animation: blink 2s ease-in-out infinite alternate;
          animation: blink 2s ease-in-out infinite alternate;
}
.cactus .eye:after {
  content: "";
  position: absolute;
  left: .5px;
  top: .5px;
  width: 5px;
  height: 5px;
  border-radius: 25%;
  background-color: #060706;
}
.cactus .eye.left {
  left: 1px;
}
.cactus .eye.right {
  right: 1px;
}
.cactus .mouth {
  position: absolute;
  left: 7.5px;
  top: 21px;
  width: 10px;
  height: 10px;
  border-bottom: 1.5px solid #101010;
  border-radius: 25% / 10%;
}

@-webkit-keyframes arms {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes arms {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
@-webkit-keyframes blink {
  0%,
   10%,
   20%,
   100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  15% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@keyframes blink {
  0%,
   10%,
   20%,
   100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  15% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@-webkit-keyframes swing {
  from {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  to {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes swing {
  from {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  to {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
