@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

/* my note- tracking value of 1000 is equal to 1 em in CSS--convert to rem*/

html, body {
  font-size: 62.5%; 
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  /*font-size: 1rem; /* currently ems cause chrome bug misinterpreting rems on body element */
  /*line-height: 1.5;*/
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  height: 100%;
}

/*img {
    width: 100%;
    height: auto;
}*/

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */ 
/*@media screen and (min-width: 35.5em) {}
@media screen and (min-width: 67.250em) {}
@media screen and (min-width: 75.875em) {}*/

/*----------------------------------*/

a {
    text-decoration:none
}
li {
    list-style:none
}

/* Desktop */
@media screen and (min-width: 750px) {
}

ul {    
    margin:0;
    font-size: 1.25rem; /*2.1rem*/ 
    line-height: 1.2;  
    letter-spacing: .6rem; 
    text-transform: lowercase; 
  }

.main-nav {
    width:100vh;    
    height:45px;
    position:fixed;
    z-index:9999;
    background:; /*4c4c4c*/
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-95%); 
    /*vertical-align: middle;*/ /*need to re-fix this perfect middle thing*/
    /*top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */
    /*padding-right: 2.25vh;*/
    top: 12%;
  }

ul.nav li {
    /*padding-top:124px*/
    margin-right:5.25vh; /*20px*/
    float:right;
    height:100%;
    /*line-height:45px;*/ 
  }

/* ---------------------------------------- */

/* Tablet */ 
@media screen and (min-height: 0px) and (max-height: 720px) {


}
/* ---------------------------------------- */

/* Mobile */
@media screen and (min-width: 400px) and (max-width: 550px) {



}
/* ---------------------------------------- */


ul.nav {    
    margin:0 auto;
    height:100%;        
}

ul.nav li a {           
    color:#fff;    
}

.main-nav a, .main-nav a:visited {
  color: #ffffff; 
}  
.main-nav a:hover, .main-nav a:target {
  color: #ababab; /*cbcbcb*/ /*ebebeb*/
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  /*margin-top: 0;*/
  /*margin-bottom: 2rem;*/
  font-weight: 300; }
h1 { font-size: 1.25rem; /*2.1rem*/ line-height: 1.2;  letter-spacing: .6rem; text-transform: lowercase; 
  }
h2 { font-size: 1.25rem; /*2.1rem*/ line-height: 1.5;  letter-spacing: 0.1rem; text-transform: lowercase; 
  }


/* Larger than phablet 

footer p, p {
  font-size: 1.5rem;
  opacity: .5;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– 
a {
  color: #ffffff; 
  text-decoration: none;
}
a:hover {
  color: #cbcbcb; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– 
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; 
  display: inline;
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– 
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


@media screen and (min-width: 1440px) and (max-width: 1440px) {
.desktop {
  display: block;
}
.tablet {
  display: none; }
}
.mobile {
  display: none; }
}
}