.clear {clear:both;}

.scoot-over {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

div#content {
  width: 100vw;
}

/*FIRST*/
div#up-left {
  position:absolute;
  left:0; /*32.5%*/ /*16%*/
  z-index:4;
  width: 65%;
}
  
/* THIRD*/
div#down-right {
  clear: all;
  right:0;
  left:84.5%;  /*87.5%*/ /*67%*/
  position:fixed;
  bottom:0px;
  z-index:5;
  width: 62%;
  margin-right: 0;
  padding-right: 0;
}

/*SECOND*/
div#down-left {
  left:42.5%;  /*60%*/ /*46%*/
  position:fixed;
  bottom:0px;
  z-index:3;
  width: 65%;
}

/*div#right {
  height:auto;
  width:9400px;
  position:fixed;
  top:7%;
  right:0px;
  z-index:2;
}*/

.padding {
  padding: 24% 0 24% 0;/*34% 0 34% 0;*/ /*30% or 20*/
}

.padding-3 {
  padding: 50% 0 60% 0;/*50% 0 60% 0; /*20% 0 30% 0*/
}

.padding-2 {
  padding: 40% 0 40% 0; /*36% 0 36% 0;*/     /*46% 0 46% 0; /*20% 0 30% 0*/
}


/* image zooming-- matches js on index 

    .zoom {
      display:inline-block;
      position: relative;
    }
    .zoom img {
      display: block;
    }

/* temporary */
.zoom:hover img {
  transform: scale(2); /*2*/
  transition: transform 0.5s ease-in-out;
}

.zoom {
  width: auto;
  overflow: hidden;
}

/* Resources
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#about {
  /*outline: solid rgba(0,0,0,1) 15px;*/
  /*border: solid black 15px;*/
  /*margin-top: 15px;*/
  /*margin-left: -15px;*/
  width: 50%;
  position: fixed;
  font-size: 2rem; /*2.5rem*/
  line-height: auto;  
  letter-spacing: 0.25px;
  opacity: 1;
  list-style-type: none;
  position: fixed;
  display: none;
  -webkit-transform:rotate(90deg) translateX(30px);
  right:0; 
  margin: 9% -5% 0 0; /*60px -87px 0 0;*/
  /*margin-right:5px;*/
  font-weight: 600;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#about-div:hover #about {
  display: inline-block;
  /*padding: 0 0 0 20%;*/
}

#batman {
  position: fixed;
  display: none;
  padding: 10px;
}

#batman-div:hover #batman {
  display: inline-block;
}

img {max-width: 100%}

#process.background {
  background: rgba(0,0,0,0.8) cover;
  width: 100%;
}

/** LIGHTBOX MARKUP **/

.process {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.process #process {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.process:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}


#process {
  width: 75%;
  font-size: inherit; 
  line-height: auto;  
  letter-spacing: 0.25px;
  opacity: 1;
  list-style-type: none;
  position: fixed;
  display: none;
  -webkit-transform:rotate(90deg) translateX(145px);
  right:0; 
  margin: 2% 2% 0 0; /* 20px -173px 0 0; */
  font-weight: 600;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#process-div:hover #process {
  display: inline-block;
  /*padding: 0 0 0 0;*/
}

.handout {
  background: url('../images/overthere.space/eremmele_6handout_s.jpg') 50% center no-repeat;
  background-size: 100%;
}
.handout:hover {
  background: url('../images/overthere.space/eremmele_6handout2_s.jpg') 50% center no-repeat;
  background-size: 100%;
}






/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader 
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/bat-signal-flat.gif") center no-repeat #fff;
}
/*http://smallenvelop.com/demo/simple-pre-loader/images/loader-64x/Preloader_2.gif*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

/*#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ 
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera 

    z-index: 10001;
} */

/* begin stats/percent */
#preloader-stats {
  display: block;
  position: fixed;
/*  left: 46%; 45*/
/*  width: 8%; /* 10*/
/*  top: 65%;*/
  z-index: 10001;

  width: 10%;

  top: 60%;
  left: 45%;
}

/*#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}*/

#progress{
  height: 1px;
  background:#fff;
/*  position:absolute;*/
  z-index: 10001;
  top: 50%;
}
#progstat{
  font-size: inherit; /*0.7em*/
  letter-spacing: inherit; /* 3px */
  /*line-height: 30px;*/
  /*position:absolute;*/
/*  margin-top:-40px; */
  text-align: center;
  color: #fff;
  z-index: 10001;
}

/* end stats/percent */

#batman-preloader {
    display: block;
    position: fixed;
    left: 50%;
    top: 35%;
    width: 5em; /*150px;*/
    /*height: 5em; /*150px;*/
    margin: 0 0 0 -2.5em;
    position: center;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 10001;
}

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #000;
        z-index: 10000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    


    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    /*.no-js h1 {
        color: #000;
    }*/

    /*#no-js-content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  */



.inner-y {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -87px 0px 0px -160px;
  width: 320px;
  height: 174px;
  background-color: #000;
  border-radius: 195px / 106px;
  overflow:hidden;
}

.inner-b {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0px 0px -148px;
  width: 296px;
  height: 150px;
  background-color: #fff;
  border-radius: 205px / 106px;
}

.cut-lr, .cut-rr {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 500px;
  background-color: #000;
  top: 32px;
  margin: -27px 0px 0px -27px;
}

.cut-bll, .cut-brr {
  position: absolute;
  width: 78px;
  height: 44px;
  border-radius: 205px / 106px;
  background-color: #000;
  bottom:-2px;
}

.cut-lr {
  left:102px;
}

.cut-rr {
  left:192px;
}

.cut-bll {
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  left:42px;
}

.cut-brr {
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
  right:42px;
}

.cut-blll, .cut-bllr, .cut-brll, .cut-brlr {
  position: absolute;
  width: 70px;
  height: 32px;
  border-radius: 205px / 106px;
  background-color: #000;
  bottom: 1px;
}

.cut-blll, .cut-brll {
  -webkit-transform:rotate(-112deg);
  -moz-transform:rotate(-112deg);
  -ms-transform:rotate(-112deg);
  -o-transform:rotate(-112deg);
  transform:rotate(-112deg);
}

.cut-blll {
  right:72px;
}

.cut-brll {
  left:93px;
}

.cut-brlr {
  left:72px;
}

.cut-bllr {
  right:93px;
}

.cut-brlr, .cut-bllr {
  -webkit-transform:rotate(-67deg);
  -moz-transform:rotate(-67deg);
  -ms-transform:rotate(-67deg);
  -o-transform:rotate(-67deg);
  transform:rotate(-67deg);
}

.cut-hd {
  width: 110px;
  height: 34px;
  background: #000;
  left: 92px;
  top:-2px;
  position: absolute;
}

.drw-hd-m {
  position: absolute;
  width: 36px;
  height: 56px;
  background-color: #fff;
  left: 50%;
  margin-left: -19px;
  border-radius: 230px / 110px;
  top: 23px;
}

.drw-hd-lt, .drw-hd-rt {
  position: absolute;
  width: 0;
  height: 0;
  top:2px;
  border-bottom: 28px solid #fff;
}

.drw-hd-lt {
  left:129px;
  border-right: 14px solid transparent;
  border-left: 1px solid transparent;
}

.drw-hd-rt {
  right:131px;
  border-left: 14px solid transparent;
  border-right: 1px solid transparent;
}



/* baatmann! ends. */




/* --------------------- lightbox begins --------------------- */

/** LIGHTBOX MARKUP **/

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90vw;
  max-height: 80vh;
  margin-top: 2%;
  z-index: 9999999;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}


/* lightbox ends */

/* --------------------- mouse text begins --------------------- */
.img_title {
    display: inline-block;
    background: rgba(0,0,0,0);
    position: absolute;
    color: #fff;
    font-size: 1.25rem; /*2.1rem*/ line-height: 1.5;  letter-spacing: 0.1rem; text-transform: lowercase;
}
.image_container {
    cursor: none;
    display: inline-block;   
}



.superman {
  z-index: 9999999;
}
.superman:target {
  display: none;
}