.clear {clear:both;}

.scoot-over {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

div#content {
  width: 100vw;
}

/*FIRST*/
div#up-left {
  position:absolute;
  left:32.5%;  /*16%*/
  z-index:4;
  width: 65%;
}
  
/* THIRD*/
div#down-right {
  clear: all;
  right:0;
  left:87.5%;   /*67%*/
  position:fixed;
  bottom:0px;
  z-index:5;
  width: 62%;
  margin-right: 0;
  padding-right: 0;
}

/*SECOND*/
div#down-left {
  left:60%;   /*46%*/
  position:fixed;
  bottom:0px;
  z-index:3;
  width: 65%;
}

/*div#right {
  height:auto;
  width:9400px;
  position:fixed;
  top:7%;
  right:0px;
  z-index:2;
}*/

.padding {
  padding: 34% 0 34% 0; /*30% or 20*/
}

.padding-3 {
  padding: 50% 0 60% 0; /*20% 0 30% 0*/
}

.padding-2 {
  padding: 46% 0 46% 0; /*20% 0 30% 0*/
}


/* image zooming-- matches js on index 

    .zoom {
      display:inline-block;
      position: relative;
    }
    .zoom img {
      display: block;
    }

/* temporary */
.zoom:hover img {
  transform: scale(2); /*2*/
  transition: transform 0.5s ease-in-out;
}

.zoom {
  width: auto;
  overflow: hidden;
}

/* Resources
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#about {
  /*outline: solid rgba(0,0,0,1) 15px;*/
  /*border: solid black 15px;*/
  /*margin-top: 15px;*/
  /*margin-left: -15px;*/
  width: 40%;
  font-size: 2rem; 
  line-height: auto;  
  letter-spacing: 0.25px;
  opacity: 1;
  list-style-type: none;
  position: fixed;
  display: none;
  -webkit-transform:rotate(90deg) translateX(30px);
  right:0; 
  margin-right:5px;
  font-weight: 700;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

#about-div:hover #about {
  display: inline-block;
  padding: 0 0 0 25px;
}

#batman {
  position: fixed;
  display: none;
  padding: 10px;
}

#batman-div:hover #batman {
  display: inline-block;
}

img {max-width: 100%}

#process {
  width: 40%;
  font-size: 2rem; 
  line-height: auto;  
  letter-spacing: 0.25px;
  opacity: 1;
  list-style-type: none;
  position: fixed;
  display: none;
  -webkit-transform:rotate(90deg) translateX(145px);
  right:0; 
  margin-right:-105px;
  font-weight: 700;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#process-div:hover #process {
  display: inline-block;
  padding: 0 0 0 0;
}


/* Thumbnails
–––––––––––––––––––––––––––––––––––––––––––––––––– 
.1-1 {
  background-image: url('../images/eye/remmele_EyeSeries.jpg');
  display: inline-block;
  background-repeat:no-repeat;
  background-size: cover;
  position: absolute;
  width: 400;
  height: 267;
  }
.1-2 {
  background-image: url('../images/biennial/remmele_tickets.jpg');
    display: block;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  }
.1-3 {
  background-image: url('../images/biennial/remmele_BiennialPoster.jpg');
  }
.1-1-4 {
  background-image: url('../images/wwm/eremmele_wwm1.jpg');
  }
.1-5 {
  background-image: url('../images/monsoon/remmele_monsoon4.jpg');
  }
.1-6 {
  background-image: url('../images/biennial/remmele_BiennialTix-orange.jpg');
  }
.1-7 {
  background-image: url('../images/blackholes/eremmele3.jpg');
  }


.2-1 {
  background-image: url('../images/feelfeelfeelfest/remmele_FeelFeelFeelFest.jpg');
}
.2-2 {
  background-image: url('../images/milk-and-water/remmele_milk-and-water-screenshot.PNG');
}
.2-3 {
  background-image: url('../images/feelfeelfeelfest/remmele_FeelFeelFeelFest_bus.jpg');
}
.2-4 {
  background-image: url('../images/milk-and-water/remmele_milk-and-water.gif');
}
.2-5 {
  background-image: url('../images/biennial/remmele_BiennialWeb.jpg');
}
.2-6 {
  background-image: url('../images/blackholes/eremmele1v2.jpg');
}


.3-1 {
  background-image: url('../images/blackholes/eremmele3.jpg');
}
.3-2 {
  background-image: url('../images/quoted/remmele_cards2v2.jpg');
}
.3-3 {
  background-image: url('../images/biennial/remmele_BiennialLogoWhite.gif');
}

.3-4 {
  background-image: url('../images/coming-soon/comingsoon_screenshot.png');
}

.3-5 {
  background-image: url('../images/halfacat/remmele_HalfaCat.jpg');
}
.3-6 {
  background-image: url('../images/blackholes/eremmele5.jpg');
}
*/