@import "lesshat";

* {
	user-select: none;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	overflow-x:       hidden;
	margin:           0;
	padding:          0;
	background-color: #333;
	font-family:      Tahoma,Verdana,Segoe,sans-serif;
	font-size:        14px;
	line-height:      18px;
	color:            #ddd;
	text-align:       center;
}

a {
	color:           #95ba00;
	text-decoration: none;
}

button {
	margin:           0;
	padding:          0 8px;
	border:           0 none;
	color:            #fff;
	background-color: #95ba00;
	font-size:        16px;
	line-height:      32px;

	& + button {
		margin-left: 16px;
	}
}

section {
	display:          inline-block;
	position:         relative;
	margin:           20px;
	background-color: #595551;
	vertical-align:   top;
}

#console {
	z-index: 999;
	position:         absolute;
	left:             20px;
	top:              20px;
	overflow:         visible;
	width:            250px;
	background-color: #595551;
	text-align:       left;
	box-shadow:       0px 0px 25px 0px rgba(0, 0, 0, 0.25);

	svg {
		position: absolute;
		right:    8px;
		top:      8px;
	}

	h3 {
		margin:           0;
		padding:          10px;
		background-color: #95ba00;
		font-family:     "Trebuchet MS",Tahoma,Arial,sans-serif;
		color:           #fff;
	}

	p {
		padding: 5px 10px;
	}

	dl {
		text-align: right;

		dt {
			display:    inline-block;
			width:      67%;
			padding:    5px 10px;
			text-align: left;
		}

		dd {
			display: inline-block;
			width:   33%;
			margin:  0;
			padding: 5px 10px;

			&[data-setting] span {
				cursor:      pointer;
				display:     inline-block;
				width:       15%;
				margin:      0;
				font-weight: bold;

				&.value {
					width:       70%;
					text-align:  center;
					font-weight: normal;
				}
			}
		}
	}

	.actions {
		position:  absolute;
		width:     100%;
		margin:    10px 0 0 0;
		font-size: 0;
		
		span {
			display:          inline-block;
			cursor:           pointer;
			width:            120px;
			background-color: #95ba00;
			font-size:        14px;
			text-align:       center;
			color:            #fff;
			line-height:      28px;
		}

		span + span {
			margin-left: 10px;
		}

		span a {
			color: #fff;
		}
	}
}

#canvas {
	z-index:          1;
	position:         absolute;
	left:             0;
	top:              0;
	right:            0;
	bottom:           0;
	width:            640px;
	height:           480px;
	margin:           auto;
/*	border:           20px solid #000;*/
	background-color: #000;
}

.curl {
	&:before, &:after {
		z-index:          -1;
		position:         absolute;
		left:             12px;
		bottom:           12px;
		width:            40%;
		height:           10px;
		background:       transparent;
		content:          '';
		transform-origin: left bottom;
		transform:        skew(-3deg) rotate(-3deg);
		box-shadow:       0 14px 14px rgba(0, 0, 0, .4);
	}

	&::after {
		left:             auto;
		right:            12px;
		transform-origin: right bottom;
		transform:        skew(3deg) rotate(3deg);
	}
}

.hint {
	z-index:          1000;
	position:         absolute;
	left:             0;
	top:              0;
	right:            0;
	bottom:           0;
	width:            150px;
	height:           56px;
	margin:           auto;
	padding:          10px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius:    6px;
	text-align:       center;

	&.big {
		width:  400px;
		height: 114px;
	}
}