@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700);
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #1D1F20;
  position: relative;
}

.igviewer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*background-color: RGBA(29, 31, 32, 0.9);*/
}
.igviewer img {
  display: block;
  /*margin: 1rem auto;
  /*height: calc(100vh - 2rem);*/
  width: auto;
  /*box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.8); */
}
.igviewer.hidden {
  display: none;
}

.instagram {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: hidden;
  width: 1024px;
  margin: 0 auto;
}
.instagram .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 248px;
  height: 33vw;
  margin: 4px;
  overflow: hidden;
  transition: all 200ms ease;
  position: relative;
  cursor: pointer;
}
.instagram .image .caption {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #FFF;
  padding: 1em;
}
.instagram .image:hover {
  background-size: 110%;
}
.instagram .image:hover .caption {
  display: block;
}
